* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --font1: 'Montserrat', sans-serif;
    --branco: #FFFFFF;
    --preto: #060606;
    --rosa: #f0057e;
}


body{
    background-image:url(../Assets/Backgronud.png) ;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
}

.posicionamento_header{
   width: 100%;
   
}


.texto_header{
    /* border:#FFFFFF solid; */
    margin: auto;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    font-family: var(--font1);
    font-size: 20px;
    /* width: 95%; */
    /* align-items: center; */
    /* padding-top: 30px;
    margin: auto; */
    /* border-radius: 10px; */
    /* border-color: var(--rosa); */
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;*/
}

header p{

    color: var(--branco);
}

.linha_esquerda{
    border: none;
    border-top: 2px solid var(--branco);
    margin: 10px auto;
    margin-left: 1px;
    width: 60%;
    float: left;
    position: fixed;

}

.linha_direita{
    border: none;
    border-top: 2px solid var(--branco);
    margin: 10px auto;
    margin-right: 1px;
    width: 35%;
    float: right;
}

.log{
    display: flex;
    width: 98px;
    height: 98px;
    float: right;
    margin: -50px;
}