* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --font1: 'Montserrat', sans-serif;
    --branco: #FFFFFF;
    --preto: #060606;
    --rosa: #f0057e;
}


body{
    background-image:url(../Assets/Backgronud.png) ;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
}

header{
    height: 80px;
}

.container_grid{
   width: 90%;
   margin: 0 auto;
   
}

.cima_header{
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.baixo_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 10%;
    align-items: center;
}

.linha_esquerda{
    border-bottom: solid 2px #FFFFFF;
    width: 60%;
}

.baixo_header img{
    height: 40px;
}

.linha_direita{
    border-bottom: solid 2px #FFFFFF;
    width: 35%;
}




header p{

    color: var(--branco);
}



h1{
   color: #FFFFFF;
}



.conteudo{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.painel{
    height: 420px;
    width: 350px;
    background: var(--branco);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 30px;

    
}

.tabela{
    
}
